@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

body{
    height: 100vh;
    background-color: #ffffff;
    background-image: url('../../images/fond1.png');
    background-size: cover;
    background-position: center;

}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.divaboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}


.aboutme_text{
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.aboutme_text p{
    color: #ffffff;
    font-size: 20px;
}

.blue{
    margin-left: 30px;
    height: 100%;
    width: 30%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue img{
    width: 30%;
    height: 30%;
}
